body {
    font-family: Arial, sans-serif;
    background-color: #b1ca9c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    flex-direction: column;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
    color: #555;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #275f2a;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    white-space: pre-line; /*quebra de linha*/
}

.sucesso {
    padding: 3rem;
    color: green;
}